/*----- MEDIA QUERIES LEPTOP={G} ------*/
@media (max-width: 1360px){
    .container {
        position: relative;
        width: 100%;
        min-height: 100vh;
        display: flex;
    }
    .container_cards {
        width: 600px;
        position: absolute;
        top: 2em;
        left: 8rem;
        width: 500px;
        height: 550px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        z-index: 999;
    }
    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #FFF;
        width: 200px;
        height: 230px;
        row-gap: 1em;
        transition: 0.5s;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.295);
    }
    .card:hover{
        cursor: pointer;
        transform: scale(1.1);
    }
    .card p {
        text-align: center;
        width: 90%;
    }
    .card svg {
        font-size: 2em;
        margin-bottom: 5px;
        color: rgba(0, 252, 252, 0.521);
    }
    .contactContainer {
        position: relative;
        margin: 0 auto;
        top: 2em;
        left: 12em;
        min-width: 650px;
        height: 550px;
        background-color: rgb(151, 255, 255);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.096);
    }
    .contactContainer h1 {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1em;
    }
    span {
        width: 4.5em;
        font-size: 0.9em;
        color: #FFBB33;
        padding: 5px;
        margin: 10px;
        background-color: #222;
    }
    .contactContainer input {
        width: 400px;
    }
    .textarea {
        border: none;
    }
    .contactContainer button {
        margin-top: 1em;
        background: transparent;
        border: 2px solid #FFF;
        color: #000;
        font-weight: 600;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 2px;
        width: 85px;
    }
    .contactContainer button:hover{
        cursor: pointer;
        background-color: #FFF;
        color: #222;
    }
}
/*----- MEDIA QUERIES LEPTOP ------*/
@media (max-width: 1024px){
   
}
/*----- MEDIA QUERIES TABLET ------*/
@media (max-width: 768px){
    
}
/*----- MEDIA QUERIES DISPOSITIVO MÓVEL={G} ------*/
@media (max-width: 425px){
}
